{% extends 'base.html' %}

{% block title %}Статусы{% endblock %}

{% block content %}
<h1 class="mb-4">Статусы</h1>

<a href="{% url 'status_create' %}" class="btn btn-primary mb-3">Создать статус</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.pk }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'status_update' status.pk %}">Изменить</a><br>
                <a href="{% url 'status_delete' status.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
